header {
    height: 100px;
    background-color: #2a75bb;
    font-size: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: red;
}
h1{
    color: red;
}
.links {
    text-transform: none;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-align: right;
}
.links a {
    text-decoration: none;
    color: #ffcb05;
}
   
.links a:active,
.links a:hover {
    background-color: red;
    font-weight: bold;
}