header {
    height: 100px;
    background-color: #2a75bb;
    font-size: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: red;
}
h1{
    color: red;
}
.links {
    text-transform: none;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 10px;
}
.links a {
    color: #ffcb05;
}


.selected {
    background-color: red;
    font-weight: bold;
}